td {
    border: 5px solid blue;
    color: darkgreen;
    width: 200px;
    height: 200px;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: palegreen;
  }
  
  td:hover {
    background: navy;
  }
  
  table {
    border: 5px solid green;
    background-color: black;
  }

  